<!DOCTYPE html>
<html>
  <head>
    <title>TaskRabbit</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-expand-lg">
      <div class="container">
        <%= link_to 'TaskRabbit', root_path, class: 'navbar-brand' %>
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to 'All Tasks', root_path %>
          </li>
            <% Category.all.each do |category| %>
              <li class="nav-item"><%= link_to category.name, tasks_path(category: category.name) %></li>
            <% end %>
          <%= link_to 'New Task', new_task_path, class: 'navbar-text justify-content-end navbar-link' %>
        </ul>
      <div>
    </nav>

    <div class="container">
      <div class="col-md-8 col-md-off-set2">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
